@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/****************
* Layout
****************/

app > div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
}

app > div > div {
    min-width: 500px;
}

#scrollbox {
    flex-grow: 1;
    overflow: auto;
    min-height: 300px;
}

app textarea {
    display: block;
    width: 100%;
}

/****************
* Autoscroll
****************/

#scrollbox * {
  overflow-anchor: none;
}

#scrollbox::after {
  content: '';
  display: block;
  overflow-anchor: auto;
  height: 1px;
}

/****************
* Blazor Errors
****************/

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/****************
* Chat Area
****************/

.sent, .received {
    margin-left: 10px;
    margin-right: 10px;
}

.sent {
    background: #03a9f4;
    color: #fff;
    margin-left: 10%;
    text-align: right;
}

.received {
    background: #4CAF50;
    color: #fff;
    margin-right: 10%;
}

/* div within bubble for name */
.user {
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
}
