@inject NavigationManager MyNavigationManager

<div>
  <form action="/users/authenticate" method="POST">
    <label for="Username">Username:</label><br>
    <input type="text" name="Username" value=""><br>

    <label for="RoomCode">Room Code:</label><br>
    <input type="text" name="RoomCode" value=""><br><br>

    <input type="hidden" name="redirect" value="@(MyNavigationManager.Uri)"><br><br>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
</div>