<div>
    <button class="btn @UpButton" @onclick="Up">
        <span class="oi oi-thumb-up" aria-hidden="true"></span>
    </button>
    <button class="btn @DownButton" @onclick="Down">
        <span class="oi oi-thumb-down" aria-hidden="true"></span>
    </button>
    @Message
</div>

@code{
    [ParameterAttribute]
    public int Value { get; set; }
    [ParameterAttribute]
    public string Message { get; set; }
    [Parameter]
    public EventCallback<int> OnChange { get; set; }

    private string UpButton => Value > 0 ? "btn-primary" : "btn-secondary";
    private string DownButton => Value < 0 ? "btn-primary" : "btn-secondary";

    private void Up()
    {
        Value = Value > 0 ? 0 : 1;
        OnChange.InvokeAsync(Value);
    }

    private void Down()
    {
        Value = Value < 0 ? 0 : -1;
        OnChange.InvokeAsync(Value);
    }
}